{{#partial "custom-body"}}

    <h1>
        Alta de Evento
    </h1>
    <hr>
    <form action="/construirEvento" method="POST">
        <div class="row">
            <div class="card col-md-4 border-dark" style="margin-left: 60px;">
                <div class="card-header" style="background-color: #E1E1C8;">Paso 1:</div>
                <div class="card-body">
                    <h5 class="card-title">Descripcion del Evento:</h5>
                    <div class="form-group">
                        <input type="text" name="descripcionEvento" id="descripcionEvento" required="" value = {{descripcionEvento}}>
                    </div>
                </div>
            </div>
            
            <br>

            <div class="card col-md-4 offset-md-1 border-dark">
                <div class="card-header" style="background-color: #E1E1C8;">Paso 2:</div>
                <div class="card-body">
                    <h5 class="card-title">Fecha Inicio del Evento:</h5>
                    <div class="form-group">
                        <input type="date" name="fechaInicioEvento" id="fechaInicioEvento" required="" value = {{fechaInicioEvento}}>
                    </div>
                </div>
            </div>

			<br>

   			<div class="card col-md-4 offset-md-1 border-dark">
                <div class="card-header" style="background-color: #E1E1C8;">Paso 3:</div>
                <div class="card-body">
                    <h5 class="card-title">Fecha Fin del Evento:</h5>
                    <div class="form-group">
                        <input type="date" name="fechaFinEvento" id="fechaFinEvento" required="" value = {{fechaFinEvento}}>
                    </div>
                </div>
            </div>

			<br>

            <div class="card col-md-4 offset-md-1 border-dark">
                <div class="card-header" style="background-color: #E1E1C8;">Paso 4:</div>
                <div class="card-body">
                    <h5 class="card-title">Ubicacion del Evento:</h5>
                    <div class="form-group">
                        <input type="text" name="ubicacionEvento" id="ubicacionEvento" required="" value = {{ubicacionEvento}}>
                    </div>
                </div>
            </div>

			<br>
	
            <div class="card col-md-4 offset-md-1 border-dark">
                <div class="card-header" style="background-color: #E1E1C8;">Paso 5:</div>
                <div class="card-body">
                    <h5 class="card-title">Tipo de Evento:</h5>
                    <div class="form-group">
                        <select name="tipoDeEvento" class="form-control" id="tipoDeEvento" required="" value = {{evento.tipoDeEvento}}>
                            <option value="FORMAL">Formal</option>
                            <option value="INFORMAL">Informal</option>
                        </select>
                    </div>
                </div>
            </div>
		
			<br>
			
			<script>
				$(document).ready(function(){
				var aux = "{{ubicacionEvento}}"
				$("#ubicacionEvento").val(aux.split('_').join(' '));
				var desc = "{{descripcionEvento}}"
				$("#descripcionEvento").val(desc.split('_').join(' '));
				$("#tipoDeEvento option[value={{evento.tipoDeEvento}}]").attr('selected', 'selected');
				$("#tipoDeEvento").val({{evento.tipoDeEvento}});
				});
			</script>
			
        </div>
        <hr>
        <input type="submit" class="btn btn-success btn-block" value="Crear">
        <input type="hidden" class="idEvento" name="idEvento" id="idEvento" value = {{evento.id}}> 
    </form>
        
{{/partial}}
{{>layout.hbs}}