{{#partial "custom-body"}}
    <h1>
       Listado de Prendas
    </h1>

   <div class="card-deck">
    {{#each prendas}}
 
	            <div class="card h-70 bg-light text-dark ">
	              <div class="card-body">
	                <h4 class="card-title">
	                  <a href="#">Prenda #{{tipoPrenda.descripcion}}</a>
	                </h4>
	                    <p class="card-text"> {{tipoTela}} - {{colorPrimario}} - {{colorSecundario}} </p>
	              </div>
	            </div>
	            
    {{/each}}
    
    </div>
    
     <form action="/evento/{{eventoSugerido.id}}/verAtuendosSugeridos" method="GET">
                     		 <input type="submit" class="btn btn-success btn-block" value="Volver">
	  </form>

{{/partial}}
{{>layout.hbs}}